# Ignore logs and video output
*.log
*.ts
*.mp4
*.m3u8

# Ignore all hidden files and folders
.*

# But do NOT ignore .gitignore and .gitkeep
!.gitignore
!.gitkeep

# Ignore all files in logs/, but keep .gitkeep
logs/*
!logs/.gitkeep
