# Ignore logs and video output
*.log
*.ts
*.mp4
*.m3u8

.*        # ignore all dotfiles
!.vnc/passwd  # except this one

# But do NOT ignore .gitignore and .gitkeep
!.gitignore
!.gitkeep

# Ignore all files in logs/, but keep .gitkeep
logs/*
!logs/.gitkeep
